.color-row {
  background: $primary-color;
  padding: 60px 0px 60px 0px;
  color: white;
}

.image-row {
 background-size: cover;
}


h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: emCalc(44);
  color: white;
}

h2 {
  
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: emCalc(33);
}

a:hover {
  color:darken($primary-color, 5%);
  @include transition ();
}

a {
  @include transition ();
}

iframe {
  border: 8px solid white;
}