.color-row {
  background: $primary-color;
  padding: 60px 0px 60px 0px;
  color: white;
}

.image-row {
 background-size: cover;
}

.white-row {
  background: white;
  padding: 30px 0px 50px 0px;
  h1 {
    color: black;
  }
}

.footer-row {
  background-color: $secondary-color;
  height: 210px;
  text-align: center;
  font-size: emCalc(14) !important;
  padding-top: 20px;
  color: white;
  img {
    height: 80px;
    width: 80px;
  }
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: emCalc(44);
  color: white;
}

h2 {
  
}

h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: emCalc(33);
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: emCalc(28);
}

a:hover {
  color:darken($primary-color, 5%);
  @include transition ();
}

a {
  @include transition ();
}

iframe {
  border: 8px solid white;
}