/* Big Triangle */
svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	fill: #fff;
	stroke: #fff;
	stroke-width: 2;
}

.divider-arrow {
  position: relative;
  &:after {
  background-image: url('/img/layout/big-triangle.svg');
  margin-bottom: -100px;
  background-color: transparent;
  height: 100px;
  content: '';
  width: 100%;
  display: block;
  z-index: 1;
  background-size: 100% 100%;
  position: absolute;

  }
}

.player-divider-left-top-solid {
  position: relative;
  &:before {
  background-image: url('/img/layout/player-divider-left-top-solid.svg');
  background-color: transparent;
  width: 230px; 
  height: 55px;
  content: '';
  display: block;
  z-index: 1;
  top: -55px;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  margin-left: -115px;
  }
}

.player-divider-left-bottom {
  position: relative;
  &:before {
  background-image: url('/img/layout/player-divider-left-bottom.svg');
  background-color: transparent;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
  background-size: 100% 100%;
  position: absolute;
  bottom: -150px;
  }
}


.after-arrow {
  padding-top: 100px;
}

.divider-centered {
  padding-top: 20px;
  text-align: center;
  h1 {
    font-size: emCalc(50);
    color: black;
  }
}

.newsletter-signup {
  background: white;
  text-align: center;

  h3 {
    font-size: emCalc(24);
  }
}

.booking-row {
  background: $secondary-color;
  text-align: center;
}