---
layout: home
Title: Jason Roe
mp3: https://www.dropbox.com/s/pne98lfwunv56nc/%28B%29%20JR%20Valley%20Community%20Baptist%20Church%20Winter%20Retreat%2C%20Hartford%2C%20CT%201-13-13.mp3
---
<div class="image-row homepage-header">
  <div class=""></div>
</div>

<div class="white-row divider-arrow">
  <div class="row divider-centered">
    <div class="large-12 large-centered columns">
      <h1>Just Heard Jason Speak?</h1>
      <h3><a href="/follow-up">Click Here for Follow-Up Resources</a></h3>
    </div>
  </div>
</div>

<div class="color-row slashed-color-background">
  <div class="row after-arrow">
      <div class="large-6 columns">
        <h1>Meet Jason</h1>
        <p>Jason Roe is a passionate communicator of the Gospel. He brings a compelling style of preaching that uses humor and relational stories to communicate the message of Christ in a real and relevant way.  He desires to help local churches become vital congregations while challenging and equipping individuals to fulfill their God-given mission. God has gifted Jason with the ability to break through generational barriers, to communicate with clarity and passion to people of all ages. The foundation of Jason's ministry claims Mark 16:15: ‘Go into all the world and proclaim the Gospel to the whole creation.’</p>
      </div>
      <div class="large-6 columns">
        <div class="flex-video vimeo widescreen">
        <iframe src="//player.vimeo.com/video/90059072" width="100%" min-height="400px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>

<!--
<div class="image-row upcoming-events slashed-image-background">
  <div class="row">
    <div class="large-6 columns large-offset-6">
      <h1>Upcoming Events</h1>
    </div>
  </div>
</div>
-->

{% include newsletter-signup.html %}

<ul class="large-block-grid-3 medium-block-grid-3 triple-ad-row bottom-row-home">
    <li class="bottom-ad-1"><div class="slashed-image-background"><a href="/ministries/resurrection-ministries"><h1>Resurrection Ministries</h1></a></div></li>
    <li class="bottom-ad-2"><div class="slashed-image-background"><a href="/ministries/the-jesus-rally"><h1>The Jesus Rally</h1></a></div></li>
    <li class="bottom-ad-3"><div class="slashed-image-background"><a href="/ministries/jce-ministries"><h1>J.C. Evangelistic Ministries</h1></a></div></li>
  </ul>

<div class="white-row bottom-row-home">
  <div class="row">
    <div class="large-3 columns player-divider-left-top-solid">
      {% include audio-player.html %}
    </div>
    <div class="large-9 columns light">
      <h1>Latest Event Report</h1>
      <h4>1/13/2013 Valley Community Baptist Church Winter Retreat, Hartford, CT</h4>
      <a href="/get-involved">Click here to connect with Jason..</a>
    </div>
  </div>
</div>
