<div class="footer-row">
      <div class="row">
        <div class="large-4 columns">
          <h1>Contact</h1>
          <ul>
            <li>EMAIL: JROE@KBM.ORG</li>
            <li>14485 E EVANS AVE,<br> AURORA, CO 80014</li>
          </ul>
        </div>
        <div class="large-4 columns">
          <h1>Links</h1>
          <ul>
            <li>BOOK JASON TO SPEAK AT YOUR EVENT</li>
            <li>HEAR ABOUT PAST EVENTS</li>
            <li>CONNECT WITH JASON</li>
          </ul>
        </div>
        <div class="large-4 columns">
          <h1>Donate</h1>
          <img src="/img/ecfa-seal.png"/>
        </div>
      </div>
    </div>
 <script src="/js/vendor/foundation/jquery.js"></script>
    <script src="/js/vendor/foundation/foundation.min.js"></script>
  </body>
</html>