<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/site.css" />
    <script src="/js/vendor/foundation/modernizr.js"></script>
  </head>
  <body>
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div class="slash-left-right"></div>
        <div class="solid-slash-left-right"></div>
        <!-- a class="left-off-canvas-toggle" >Menu</a> -->
        <div class="fixed">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <ul class="name">
                <h1><a href="/">Jason Roe</a></h1>
              </ul>
              <li class="left-off-canvas-toggle menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                {{ include header-navigation.html }}
              </ul>
            </section>
          </nav>
        </div>
