<div class="newsletter-signup">
  <div class="row">
    <div class="large-12 columns">
      <h3><a href="https://interland3.donorperfect.net/weblink/weblink.aspx?name=kbm&id=35" target="_blank">Want to stay connected with Jason? Sign up for his newsletter here!</a></h3>
    <!--

      <h3><a href="#openModal">Want to stay connected with Jason? Sign up for his newsletter here!</a></h3>
      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
        		<iframe style="width:100%; height:600px;" src="https://interland3.donorperfect.net/weblink/weblink.aspx?name=kbm&id=35"></iframe>
        </div>
      </div>
-->
  </div>
  </div>
</div>