.homepage-header {
   height: 450px;
   background-image: url('/img/jason-deep-camp-1.jpg');
 } 
 
.upcoming-events {
  padding-top: 80px;
  height: 600px;
  background-image: url('/img/upcoming-events.jpg');
}

.ad-row {
  height: 450px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ad-1 {
  background-image: url('/img/resurrection-ministries.jpg');
  height: 450px;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ad-2 {
  background-image: url('/img/jesus-rally.jpg');
}

.ad-3 {
  background-image: url('/img/jce-ministries.jpg');
}