.homepage-header {
  height: 450px;
  background-image: url('/img/jason-deep-camp-1.jpg');
}

.upcoming-events {
  padding-top: 80px;
  height: 600px;
  &:after {
    background-image: url('/img/upcoming-events.jpg');
  }
}

.triple-ad-row {
  @media #{$medium} {
    @include block-grid($per-row: 3, $spacing: 10px, $base-style: true);
  }
  li {
    @media #{$small-only} {
      width: 100%;
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  div {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    margin-bottom: 1rem;
    overflow: hidden;
    background-color: #000;
  }
  h1 {
    margin-top: 40%;
  }
}

.bottom-ad-1 div {
  background-image: url('/img/resurrection-ministries.jpg');
}

.bottom-ad-2 div {
  /*   background-image: url('/img/jesus-rally.jpg'); */
  background-image: url('/img/resurrection-ministries.jpg');
}

.bottom-ad-3 div {
  background-image: url('/img/resurrection-ministries.jpg');

}